# Machine Learning With Feature Engineering Data

We were unable to improve results by using feature engineering.

In [1]:
import pandas as pd
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
fe_df = pd.read_csv('Resources/feature_engineered.csv')
fe_df = fe_df.drop(['Unnamed: 0'], axis=1)
fe_df.head()

,Age,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,HvyAlcoholConsump,GenHlth,Stroke,HighBP,Diabetes
0,4.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,-1.607237,0.0,1.0,0.0
1,12.0,1.0,1.0,1.0,26.0,1.0,0.0,0.0,1.197681,1.0,1.0,0.0
2,13.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.548296,0.0,0.0,0.0
3,11.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,0.847066,0.0,1.0,0.0
4,8.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,-0.204778,0.0,0.0,0.0

In [3]:
# Scaling the data


X = fe_df.drop('Diabetes', axis=1)
y = fe_df['Diabetes']
X_train, X_test, y_train, y_test = train_test_split(X, y)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## EE Adaboost

In [4]:
from sklearn.ensemble import AdaBoostClassifier
abc = AdaBoostClassifier(n_estimators=100, random_state=1)
abc.fit(X_train_scaled, y_train)
y_pred = abc.predict(X_test_scaled)
balanced_accuracy_score(y_pred, y_test)

0.7297666487389807

In [5]:
# Display the confusion matrix
cm = pd.DataFrame(confusion_matrix(y_test, y_pred))
cm

      0     1
0  6197  2636
1  2152  6688

In [6]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.74      0.70      0.76      0.72      0.73      0.53      8833
        1.0       0.72      0.76      0.70      0.74      0.73      0.53      8840

avg / total       0.73      0.73      0.73      0.73      0.73      0.53     17673

## XGBoost

In [7]:
from xgboost import XGBClassifier

In [8]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [9]:
# Display the confusion matrix
cm = pd.DataFrame(confusion_matrix(y_test, y_pred))
cm

      0     1
0  6197  2636
1  2152  6688

In [10]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
balanced_accuracy_score(y_pred, y_test)

0.7309225629781286

## SVC

In [11]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)

SVC()

In [12]:
y_pred = clf.predict(X_test)

In [13]:
balanced_accuracy_score(y_test, y_pred)

0.7209595867102643

In [14]:
cm = pd.DataFrame(confusion_matrix(y_test, y_pred))
cm

      0     1
0  5761  3072
1  1859  6981

In [15]:
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.76      0.65      0.79      0.70      0.72      0.51      8833
        1.0       0.69      0.79      0.65      0.74      0.72      0.52      8840

avg / total       0.73      0.72      0.72      0.72      0.72      0.52     17673